/* Custom Font Declarations */
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/century_gothic.regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/century_gothic.bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nimbus Sans L";
  src: url("/fonts/nimbus_sans_l.regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nimbus Sans L";
  src: url("/fonts/nimbus_sans_l.bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Open Props Extensions */

  --font-sans: "Nimbus Sans L", "Helvetica", "Arial", var(--font-neo-grotesque);
  --font-gothic:
    "Century Gothic", "CenturyGothic", "AppleGothic", var(--font-humanist);
  --size-content-4: 75ch;
  --size-px: 1px;
  --gold-5: #d9c28d;
  --gold-7: #92784d;

  /* Every Layout sizes */

  --el-s-5: clamp(0.33rem, 0.39rem + -0.29vw, 0.18rem);
  --el-s-4: clamp(0.41rem, 0.47rem + -0.31vw, 0.25rem);
  --el-s-3: clamp(0.51rem, 0.57rem + -0.31vw, 0.35rem);
  --el-s-2: clamp(0.64rem, 0.69rem + -0.27vw, 0.5rem);
  --el-s-1: clamp(0.8rem, 0.84rem + -0.18vw, 0.71rem);
  --el-s0: clamp(1rem, 1rem + 0vw, 1rem);
  --el-s1: clamp(1.25rem, 1.19rem + 0.32vw, 1.41rem);
  --el-s2: clamp(1.56rem, 1.39rem + 0.85vw, 2rem);
  --el-s3: clamp(1.95rem, 1.61rem + 1.7vw, 2.83rem);
  --el-s4: clamp(2.44rem, 1.83rem + 3.04vw, 4rem);
  --el-s5: clamp(3.05rem, 2.04rem + 5.07vw, 5.65rem);

  /* Site colors, typography, and images */

  --theme-color-hover: var(--gold-5);
  --theme-color-detail: var(--stone-6);
  --theme-font-primary-family: "Nimbus Sans L", var(--font-sans);
  --theme-font-primary-transform: uppercase;
  --theme-font-bold-family: "Nimbus Sans L", var(--font-sans);
  --theme-font-bold-weight: bold;
  --theme-font-bold-transform: uppercase;
  --theme-font-legible-family: "Century Gothic", var(--font-gothic);
  --theme-font-legible-transform: lowercase;

  --theme-dark-color-accent: var(--gold-5);
  --theme-dark-color-background-bold: var(--gray-12);
  --theme-dark-color-background-legible: var(--gray-9);
  --theme-dark-color-text-emphasized: var(--gray-1);
  --theme-dark-color-text-legible: var(--gray-2);
  --theme-dark-color-text-secondary: var(--gray-3);
  --theme-dark-image-background-normal: url("/images/backgrounds/marble.black.webp");
  --theme-dark-image-background-splash: url("/images/backgrounds/marble.splash.webp");

  --theme-light-color-accent: var(--gold-7);
  --theme-light-color-background-bold: var(--gray-0);
  --theme-light-color-background-legible: var(--gray-0);
  --theme-light-color-text-emphasized: var(--gray-8);
  --theme-light-color-text-legible: var(--gray-8);
  --theme-light-color-text-secondary: var(--gray-8);
  --theme-light-image-background-normal: url("/images/backgrounds/marble.white.webp");
  --theme-light-image-background-splash: url("/images/backgrounds/marble.splash.webp");

  --theme-splash-contact-color-background: var(--gold-5);
  --theme-splash-contact-color-hover: var(--gold-7);
  --theme-splash-contact-color-text: var(--gray-8);
  --theme-splash-logo: url(/images/logos/stacked.gold.svg);

  --theme-font-magnify: 1.25;

  /* Site font sizes */

  --s-5: calc(var(--el-s-5) * var(--theme-font-magnify));
  --s-4: calc(var(--el-s-4) * var(--theme-font-magnify));
  --s-3: calc(var(--el-s-3) * var(--theme-font-magnify));
  --s-2: calc(var(--el-s-2) * var(--theme-font-magnify));
  --s-1: calc(var(--el-s-1) * var(--theme-font-magnify));
  --s0: calc(var(--el-s0) * var(--theme-font-magnify));
  --s1: calc(var(--el-s1) * var(--theme-font-magnify));
  --s2: calc(var(--el-s2) * var(--theme-font-magnify));
  --s3: calc(var(--el-s3) * var(--theme-font-magnify));
  --s4: calc(var(--el-s4) * var(--theme-font-magnify));
  --s5: calc(var(--el-s5) * var(--theme-font-magnify));

  /* Every Layout configuration */

  --border-thin: unset; /* defaults to 1px */
  --color-dark: var(--theme-dark-color-background-legible);
  --color-light: var(--theme-light-color-background-legible);
  --item-width: unset; /* only used in reel-l; set when using */
  --measure: var(--size-content-4); /* max readable line width */
  --sidebar-width: unset; /* defaults to content width */

  /* Used in *-l components in index.html */

  --layout-header-padding: var(--size-2);
  --layout-footer-padding: var(--size-2);
  --layout-section-padding: var(--size-fluid-4);
  --layout-splash-space: var(--size-8);
}
